.bookAnimation-size {width: 315px; height: 250px;}

.galaxyAnimation-size {width: 200px; height: 200px;}

.rocket-size{width: 43px; height: 43px;}

.palette-size{width: 40px; height: 40px;}

.dinosaur-size{width: 55px; height: 55px;}

.books-size{width: 45px; height: 45px;}

.parchment-size{width: 40px; height: 40px;}

.sports-size{width: 40px; height: 40px;}